.container {
  display: grid;
  grid-template-columns: auto auto;
  height: 95vh;
  grid-template-rows: 1fr 25px;
  overflow-y: auto;
}
.header {
  background-color: lightblue;
  height: 5vh;
}
.main {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 3;
}
.aside {
  background-color: salmon;
  grid-column-start: 3;
  grid-column-end: 4;
}
.footer {
  background-color: lightblue;
  grid-column-start: 1;
  grid-column-end: 4;
}
.field {
  background-color: green;
  grid-column-start: 1.25;
  grid-column-end: 1.75;
  width: 100px;
  text-align: center;
  padding: 50px 50px;
  margin: 10px;
  color: orange;
}
.fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body,
h1 {
  margin: 0;
}
