<article>
  <h2><a href="artikel.html?articleid=8">Artikel01</a></h2>
  <p>20.04.2023</p>
  <p>Max Mustermann</p>
  <p>Das ist ein Anrisstext.</p>
  <img title="image1" src="assets/medien/Bild1.jpeg" />
  <p>Das ist der erste Artikel.</p>
  <p>
    <a href="tagliste.html?tag=Dokument">Dokument </a
    ><a href="tagliste.html?tag=Artikel">Artikel </a>
  </p>
  <p>
    <a
      href="https://www.facebook.com/sharer/sharer.php?u=artikel.html?articleid=8"
      >Teilen auf Facebook
    </a>
  </p>
  <p>
    <a href="http://www.twitter.com/share?url=artikel.html?articleid=8"
      >Teilen auf Twitter
    </a>
  </p>
  <p><a href="teilenEmail.html">Teilen per E-Mail </a></p>
  <p><a href="artikelNeu.html?articleid=8">Bearbeiten</a></p>
</article>
