header {
  box-shadow: 2px 2px 2px white;
  background-color: #98002e;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.options {
  display: inline-flex;
  margin: 20px;
}
