<article>
  <h2>
    <a routerLink="/article/{{article?.id}}">{{ article?.name }}</a>
  </h2>
  <p>{{ article?.date }}</p>
  <p>{{ article?.author }}</p>
  <p>{{ article?.teaser }}</p>
  <img title="image1" src="{{article?.img}}" />
  <p>{{ article?.content }}</p>
  <p>
    <a href="tagliste.html?tag=Dokument">{{ article?.tags }} </a>
  </p>

  <p>
    <a
      href="https://www.facebook.com/sharer/sharer.php?u=article/{{article?.id}}"
      >Teilen auf Facebook
    </a>
  </p>
  <p>
    <a href="http://www.twitter.com/share?url=article/{{article?.id}}"
      >Teilen auf Twitter
    </a>
  </p>
  <p><a routerLink="/share">Teilen per E-Mail </a></p>
  <p><a routerLink="/edit/{{article?.id}}">Bearbeiten</a></p>
</article>
